@font-face {
    font-family: "gilroy-regular";
    src: url(../font/gilroy-regular-3.otf);
    font-style: normal;
    font-display: block;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: #f9fbfd;
    font-size: 90px;
}

*,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    font-family: 'gilroy-regular';
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333;
    position: relative;
}

body::-webkit-scrollbar-track,
#app::-webkit-scrollbar-track {
    background: #f7f7f7;
}

body::-webkit-scrollbar,
#app::-webkit-scrollbar {
    width: 6px;
    background: #ccc;
}

body::-webkit-scrollbar-thumb,
#app::-webkit-scrollbar-thumb {
    background: #ccc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    border: none;
}

img {
    border: none;
}

ul,
li,
dd,
dl,
dt {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a:active,
a:visited,
a:link,
a:hover {
    border: 0;
    border-color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    outline: none;
    /* -moz-outline-style:none; */
}

[v-cloak] {
    display: none;
}

.el-message .el-message__icon,
.el-message .el-message__icon svg {
    width: 30px;
    height: 30px;
}

.el-message .el-message__closeBtn,
.el-message .el-message__closeBtn svg {
    width: 20px;
    height: 20px;
}

.el-message .el-message__icon,
.el-message .el-message__icon svg {
    font-size: 25px;
    width: 25px;
    height: 25px;
}

.landing {
    width: 17rem;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width:1920px) {
    .landing {
        width: 21.5rem;
    }
}

@media screen and (max-width:1680px) {
    .landing {
        width: 18.7rem;
    }
}

@media screen and (max-width:1600px) {
    .landing {
        width: 17.8rem;
    }
}

@media screen and (max-width: 1366px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 80px;
    }
}